# Core ML Libraries
numpy
pandas
scikit-learn
joblib

# Data Visualization
matplotlib
seaborn



# Streamlit for Web App
streamlit

# HTTP Requests
requests

# Jupyter Notebook (optional, for development)
jupyter

